@charset "utf-8";

/*------------------------------------*\
	#Layout
\*------------------------------------*/

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	height: 100%;
}
body {
	font-size: 24px;
	color: #000;
	font-family: 'Roboto Condensed', sans-serif;
	background: #999 url('../images/basketball-bg-2.jpg') no-repeat center center;
	-webkit-background-size: cover;
	background-size: cover;
	overflow-x: hidden;
}
.container {
	width: 1140px;
	margin-top: 100px;
	margin-right: auto;
	margin-bottom: 100px;
	margin-left: auto;
}
.trivia-container {
	border-radius: 2px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	animation-duration: 1s;
}
.trivia-header {
	color: #fff;
	position: relative;
	padding: 40px 80px 100px;
	background: rgba( 0,0,0,.25);
	text-transform: uppercase;
	text-align: center;
	/*border: solid 2px #F75C03;*/
}
.timer {
	font-size: 18px;
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 200px;
	margin-bottom: -60px;
	margin-left: -100px;
	padding: 20px;
	text-align: center;
	border: solid 6px #F75C03;
	background: #000;
	border-radius: 2px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.timer-interval {
	font-size: 40px;
	font-weight: bold;
}
.trivia-body {
	padding: 100px 40px 40px;
	border-top: solid 10px #F75C03;
	background: #f5f5f5;
	overflow: hidden;
}
.right-answer,
.wrong-answer,
.time-out {
	color: #fff;
	text-align: center;
	padding: 20px;
}
.right-answer {
	border: solid 1px #5C8F36;
	background-color: #8FC269;
}
.wrong-answer {
	border: solid 1px #AA3A3A;
	background-color: #DD6D6D;
}
.time-out {
	border: solid 1px #033363;
	background-color: #064789;
}
.btn-answer {
	float: left;
	width: 48%;
	margin-right: 4%;
	margin-bottom: 20px;
}
.btn-answer:nth-child(even) {
	margin-right: 0;
}
.btn-start-game {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

/*------------------------------------*\
	#Headings
\*------------------------------------*/

h1 {
	font-size: 75px;
	font-family: 'Graduate', cursive;
}

/*------------------------------------*\
	#Buttons
\*------------------------------------*/

.btn {
	padding: 20px;
	border-style: solid;
	border-width: 1px;
	border-color: #ddd;
	background-color: #fff;
}
.btn:hover,
.btn-active  {
	border-color: #999;
	background-color: #ededed;
}